<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>添加Bug处理信息</title>
</head>
<body>
    <label>平台</label>
    <input type="text" id="platform">
    <label>来源</label>
    <input type="text" id="from">
    <label>修改人员</label>
    <input type="text" id="modifyer">
    <label>预计完成时间</label>
    <input type="text" id="plantime">
    <label>实际完成时间</label>
    <input type="text" id="finishtime">
    <label>完成情况说明</label>
    <input type="text" id="finishstatus">
    <label>变更内容</label>
    <input type="text" id="content">

</body>
</html>