//Created by rotoosoft-d04 on 2016/12/16.
extends layout

block content
    h1 登录
    form(method='post', action='/')
        div.form-row
            label
                span name:
                input(type='text',name='name')
        div.form-row
            label
                span age:
                input(type='text',name='password')
        div.form-row
            input(type='submit')
